/*CSS Reset*/
* {
	margin: 0;
	paddin: 0;
	box-sizing: border-box;
}

/*Bootstrap Font*/
body {
	font-family: "Tahoma";
}
.header {
	position:relative;
    height: 100%;
    width:100%;
}

#bg-image {
	min-height: 50rem;
	background-image: url(images/travel.png);
	background-repeat: no-repeat;
	background-size: 100%;
	max-width: 100%;
	background-position: center top;
	background-color: black;
}

#bg-gallery {
	min-height: 20rem;
	background-image: url(images/mount.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachmeent: fixed; 
	background-color: black;
}



